@inherits LayoutComponentBase

<div class="page">
    <main>

        @*NavBar*@
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Chef</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">
                                Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li>
                        <form class="d-flex">
                            <input class="form-control me-sm-30" type="search" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>
                        </li>
                        
                        

                    </ul>
                    <a href="/UserAccount/@_siteState.UserNameLogged">
                        <button class="btn btn-link">@_siteState.NoNavMenu_AccountButton</button>
                    </a>
                    
                </div>
            </div>
        </nav>
        

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{
    [Inject]
    public ICookieManager _cookieManager { get; set; }
    [Inject]
    public ISiteState _siteState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await _siteState.LoginUserCheck();

    }
}


