@page "/dwa"
@layout NoNavMenu

<div>
    <button type="button" class="btn btn-link" @onclick="GenerateCookie">Account</button>
</div>

@if(clicked)
{
    <h3>Cookie Generated!</h3>
}


@code {
    //[Inject]
    //public ICookieManager _cookieManager {get; set;}
    [Inject]
    public IButtonTestService buttonTestService { get; set; }

    public bool clicked = false;
    public async void GenerateCookie()
    {

        await buttonTestService.ButtonTest();
        //_cookieManager.SetValueAsync("Test", "Test");
        //response = await _jsRuntime.InvokeVoidAsync("set", key, value);
        clicked = true;
    }
}