@page "/"
@page "/Index/{SearchQuery}"
@attribute [AllowAnonymous]
@using Chef_Web.Services.Contracts;
@using Chef_Models.Dtos;


<div class="container-fluid">
    
    <div class="row">
        <div class="col-2">
            <div class="container-fluid border-secondary">
                <div class="sidenav justify-content-center">
                    <div class="row ">
                        <div class="col my-2 ">
                            <h4>Filter recipes</h4>
                        </div>
                    </div>
                    <div class="row ">
                        <fieldset class="form-group ">
                            <legend class="mt-2">Category:</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category_radio" id="category_radio1" value="all" checked="">
                                <label class="form-check-label" for="category_radio1">
                                    All
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category_radio" id="category_radio2" value="breakfast">
                                <label class="form-check-label" for="category_radio2">
                                    Breakfast
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category_radio" id="category_radio3" value="dinner">
                                <label class="form-check-label" for="category_radio3">
                                    Dinner
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category_radio" id="category_radio4" value="supper">
                                <label class="form-check-label" for="category_radio4">
                                    Supper
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="category_radio" id="category_radio5" value="snack">
                                <label class="form-check-label" for="category_radio5">
                                    Snack
                                </label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="row ">
                        <fieldset class="form-group ">
                            <legend class="mt-2">Diet category:</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="diet_category_radio" id="diet_category_radio1" value="all" checked="">
                                <label class="form-check-label" for="diet_category_radio1">
                                    All
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="diet_category_radio" id="diet_category_radio2" value="meat">
                                <label class="form-check-label" for="diet_category_radio2">
                                    Meat only
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="diet_category_radio" id="diet_category_radio3" value="vegetarian">
                                <label class="form-check-label" for="diet_category_radio3">
                                    Vegetarian
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="diet_category_radio" id="diet_category_radio4" value="vegan">
                                <label class="form-check-label" for="diet_category_radio4">
                                    Vegan
                                </label>
                            </div>
                        </fieldset>
                    </div>
                        <div class="row my-2 ">
                            <div class="col justify-content-center">
                                <div class="form-check link-underline-opacity-10-hover">
                                    <input class="form-check-input" type="checkbox" value="" id="lunch_box_check_box" >
                                    <label class="form-check-label" for="lunch_box_check_box">
                                        Lunchbox suitable only
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row my-1">
                                <div class="col mx-4 text-center">
                                    <button type="button" class="btn btn-dark">Refresh</button>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>


        <div class="col">
            <div class="row">
                <div class="container-fluid text-center border-secondary justify-content-center">
                    <div class="col my-3">
                        <p class="lead">Find your recipe Chef!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid text-center border-secondary justify-content-center my-3">
                    @if(Recipes == null)
                    {
                        <h3>The recipes are loading, please wait.</h3>
                    }
                    else if(Recipes.Count() > 0)
                    {
                        <div class="row">
                        @foreach(var recipe in Recipes)
                        {
                            <div class="col my-2">
                                <div class="card d-flex flex-column h-100 table-hover">
                                    @*<a href="/Recipe/@recipe.Id">
                                        <img src="" alt="Image" style="width: 100%;">
                                    </a>*@
                                    <h3 class="card-header h-25">@recipe.Name</h3>
                                    @*<div class="card-body">
                                        <h5 class="card-title">Chef: @recipe.AuthorName</h5>
                                    </div>*@
                                    <div class="card-body">
                                        <p class="card-text">@recipe.Description</p>
                                    </div>
                                    
                                </div>
                            </div>
                        }
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="container-fluid my-3">
                    <div class="row">
                        <div class="col text-center">
                            <button type="button" class="btn btn-dark">Load more recipes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>




@code {
    [Inject]
    public IRecipeService recipeService { get; set; }

    public IEnumerable<PostRecipeDto> Recipes { get; set; }
    public string ErrorMessage { get; set; }
    //Counter of Recipe Fetch in current session
    public int SiteNumber { get; set; }
    [Parameter]
    public string? SearchQuery { get; set; }
    protected override async Task OnInitializedAsync()
    {

        try
        {
            SiteNumber = 0;
            // Recipes = await recipeService.GetRecipes();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }

    }
}