@page "/Register"
@layout NoNavMenu
<div class="container ">
    <div class="row mx-5">
        <div class="col mx-5">
            <div class="card mb-4">
                <p class="card-header">Welcome Chef!</p>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleUsername1" class="form-label mt-4">Create username:</label>
                            <input type="email" class="form-control" id="exampleUsername1" aria-describedby="emailHelp" placeholder="Username" @bind="UserCredentials.UserName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Setup password:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="UserCredentials.Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="exampleInputPassword1" class="form-label mt-4">Confirm password:</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind="PasswordCorrection">
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-2">
                            <button type="button" class="btn btn-secondary btn-outline-dark" @onclick="SendCredentials">Register</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted">
                    <a href="/Login">
                        <p>Already registered? Login Here!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Inject]
    public ILoginService _loginService { get; set; }

    public LoginDto UserCredentials { get; set; } = new LoginDto();
    public string PasswordCorrection { get; set; }

    public async Task SendCredentials()
    {
        //TO DO - add validation of UserCredentials
        if(UserCredentials.UserName != null && UserCredentials.Password !=null && PasswordCorrection == UserCredentials.Password)
        {
            await _loginService.Register(UserCredentials);
        }
        
    }
}
