@page "/Test"
@using Chef_Web.Services.Contracts;
@using Chef_Models.Dtos
@inject IJSRuntime Js

@if (Recipes == null)
{
    <h3 class="mb-5">Wait!</h3>
}
else
{
    <h3 class="mb-5">Recipes</h3>
    var productCount = Recipes.Count();

    @if (productCount > 0)
    {
        foreach (var recipe in Recipes)
        {
            <div>
                    <img src="@($"data:image/jpg;base64,{recipe.RecipeImgBase64}")" alt="Image" width="220" height="220" style="max-height: 100%"/>
            </div>
            <hr class="mb-3" />
        }
    }
}

@code {

    [Inject]
    public IRecipeService recipeService { get; set; }

    public IEnumerable<RecipeDto> Recipes { get; set; }

    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Recipes = await recipeService.GetRecipes();
        }
        catch (Exception ex)
        {
            ErrorMessage = ex.Message;
        }

    }


}